/node_modules
/public/hot
/bootstrap/cache

/public/node_modules
/public/package-lock.json
/public/yarn.lock

node_modules

/public/uploads/*

/storage/*.key
/storage
/storage/logs/*
/vendor
vendor
/.idea
/.history
/.vagrant
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
yarn.lock
/nbproject
/laravel-echo-server.lock
/public/assets/images/produits
/public/assets/Fiches Techniques
.DS_Store
