.adduser{
    margin-left: 1.2%;
}

.modbutton{
    color: #fff;
    background-color: #0b6158;
    border-color: #0b6158;
}


  .fa-trash{
      color: red;
      margin-left: 20%;
  }
    
  .table{
      margin-top: 1%;
  }

  .black{
      color: black;
  }
  .close{
    // color: #000;
    // background-color: #fff;
    // border-color: #0b6158;
  }

  .filtre{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .myselect{
    margin-left: 7%;
    width: 137%;
  }

  .numberuser{
    font-size: 19px;
    margin-left: 3%;
    font-style: italic;
    font-family: ui-rounded;
  }

  .mapaginationAff{
    text-align: -webkit-right;
    color: black;
    font-weight: bold;
  }

  .mapaginationPage{
    font-weight: bold;
    font-size: 18px;
  }

  .bfiltre{
    margin-left: 3%;
    text-align: end;
  }
  .pdf{
    margin-left: 2.5%;
  }